src/main/resources/xsd/DADPES.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="record">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="1" name="client"/>
              <xs:element minOccurs="0" maxOccurs="1" name="empres"/>
              <xs:element minOccurs="0" maxOccurs="1" name="indcnp"/>
              <xs:element minOccurs="0" maxOccurs="1" name="acao"/>
              <xs:element minOccurs="0" maxOccurs="1" name="tarefa"/>
              <xs:element minOccurs="0" maxOccurs="1" name="datenv"/>
              <xs:element minOccurs="0" maxOccurs="1" name="horenv"/>
              <xs:element minOccurs="0" maxOccurs="1" name="usuenv"/>
              <xs:element minOccurs="0" maxOccurs="1" name="usubpo"/>
              <xs:element minOccurs="0" maxOccurs="1" name="reqmsg"/>
              <xs:element minOccurs="0" maxOccurs="1" name="indide"/>
              <xs:element minOccurs="0" maxOccurs="1" name="datpro"/>
              <xs:element minOccurs="0" maxOccurs="1" name="horpro"/>
              <xs:element minOccurs="0" maxOccurs="1" name="nreqid"/>
              <xs:element minOccurs="0" maxOccurs="1" name="nreqdp"/>
              <xs:element minOccurs="0" maxOccurs="1" name="idempr"/>
              <xs:element minOccurs="0" maxOccurs="1" name="idglob"/>
              <xs:element minOccurs="0" maxOccurs="1" name="nomepf"/>
              <xs:element minOccurs="0" maxOccurs="1" name="nomsoc"/>
              <xs:element minOccurs="0" maxOccurs="1" name="apelid"/>
              <xs:element minOccurs="0" maxOccurs="1" name="nompai"/>
              <xs:element minOccurs="0" maxOccurs="1" name="nacpai"/>
              <xs:element minOccurs="0" maxOccurs="1" name="nommae"/>
              <xs:element minOccurs="0" maxOccurs="1" name="nacmae"/>
              <xs:element minOccurs="0" maxOccurs="1" name="sexopf"/>
              <xs:element minOccurs="0" maxOccurs="1" name="pficor"/>
              <xs:element minOccurs="0" maxOccurs="1" name="estciv"/>
              <xs:element minOccurs="0" maxOccurs="1" name="dtnasc"/>
              <xs:element minOccurs="0" maxOccurs="1" name="munasc"/>
              <xs:element minOccurs="0" maxOccurs="1" name="nacion"/>
              <xs:element minOccurs="0" maxOccurs="1" name="nrocpf"/>
              <xs:element minOccurs="0" maxOccurs="1" name="intrbr"/>
              <xs:element minOccurs="0" maxOccurs="1" name="docide"/>
              <xs:element minOccurs="0" maxOccurs="1" name="docido"/>
              <xs:element minOccurs="0" maxOccurs="1" name="docidu"/>
              <xs:element minOccurs="0" maxOccurs="1" name="datide"/>
              <xs:element minOccurs="0" maxOccurs="1" name="dtctrb"/>
              <xs:element minOccurs="0" maxOccurs="1" name="ctpsnr"/>
              <xs:element minOccurs="0" maxOccurs="1" name="ctpssr"/>
              <xs:element minOccurs="0" maxOccurs="1" name="ctpsuf"/>
              <xs:element minOccurs="0" maxOccurs="1" name="vlctps"/>
              <xs:element minOccurs="0" maxOccurs="1" name="priemp"/>
              <xs:element minOccurs="0" maxOccurs="1" name="nropis"/>
              <xs:element minOccurs="0" maxOccurs="1" name="datpis"/>
              <xs:element minOccurs="0" maxOccurs="1" name="nronit"/>
              <xs:element minOccurs="0" maxOccurs="1" name="titele"/>
              <xs:element minOccurs="0" maxOccurs="1" name="titzon"/>
              <xs:element minOccurs="0" maxOccurs="1" name="titsec"/>
              <xs:element minOccurs="0" maxOccurs="1" name="munvot"/>
              <xs:element minOccurs="0" maxOccurs="1" name="nrocns"/>
              <xs:element minOccurs="0" maxOccurs="1" name="cerres"/>
              <xs:element minOccurs="0" maxOccurs="1" name="crthab"/>
              <xs:element minOccurs="0" maxOccurs="1" name="cathab"/>
              <xs:element minOccurs="0" maxOccurs="1" name="ufcnh"/>
              <xs:element minOccurs="0" maxOccurs="1" name="cnhexp"/>
              <xs:element minOccurs="0" maxOccurs="1" name="orghab"/>
              <xs:element minOccurs="0" maxOccurs="1" name="datphab"/>
              <xs:element minOccurs="0" maxOccurs="1" name="dtvlch"/>
              <xs:element minOccurs="0" maxOccurs="1" name="nroRIC"/>
              <xs:element minOccurs="0" maxOccurs="1" name="RICemi"/>
              <xs:element minOccurs="0" maxOccurs="1" name="RICexp"/>
              <xs:element minOccurs="0" maxOccurs="1" name="cgrins"/>
              <xs:element minOccurs="0" maxOccurs="1" name="indest"/>
              <xs:element minOccurs="0" maxOccurs="1" name="nomend"/>
              <xs:element minOccurs="0" maxOccurs="1" name="nroend"/>
              <xs:element minOccurs="0" maxOccurs="1" name="cplend"/>
              <xs:element minOccurs="0" maxOccurs="1" name="nrocep"/>
              <xs:element minOccurs="0" maxOccurs="1" name="nombai"/>
              <xs:element minOccurs="0" maxOccurs="1" name="munend"/>
              <xs:element minOccurs="0" maxOccurs="1" name="logtip"/>
              <xs:element minOccurs="0" maxOccurs="1" name="nomCid"/>
              <xs:element minOccurs="0" maxOccurs="1" name="resPro"/>
              <xs:element minOccurs="0" maxOccurs="1" name="reFGTS"/>
              <xs:element minOccurs="0" maxOccurs="1" name="emailp"/>
              <xs:element minOccurs="0" maxOccurs="1" name="mailAl"/>
              <xs:element minOccurs="0" maxOccurs="1" name="telefp"/>
              <xs:element minOccurs="0" maxOccurs="1" name="dddtel"/>
              <xs:element minOccurs="0" maxOccurs="1" name="faxpfi"/>
              <xs:element minOccurs="0" maxOccurs="1" name="dddfax"/>
              <xs:element minOccurs="0" maxOccurs="1" name="dddAlt"/>
              <xs:element minOccurs="0" maxOccurs="1" name="telAlt"/>
              <xs:element minOccurs="0" maxOccurs="1" name="telaux"/>
              <xs:element minOccurs="0" maxOccurs="1" name="nomcon"/>
              <xs:element minOccurs="0" maxOccurs="1" name="indaps"/>
              <xs:element minOccurs="0" maxOccurs="1" name="dataps"/>
              <xs:element minOccurs="0" maxOccurs="1" name="tipaps"/>
              <xs:element minOccurs="0" maxOccurs="1" name="nrdias"/>
              <xs:element minOccurs="0" maxOccurs="1" name="nrmess"/>
              <xs:element minOccurs="0" maxOccurs="1" name="nranos"/>
              <xs:element minOccurs="0" maxOccurs="1" name="nrhbpr"/>
              <xs:element minOccurs="0" maxOccurs="1" name="acao1"/>
              <xs:element minOccurs="0" maxOccurs="1" name="tbprof1"/>
              <xs:element minOccurs="0" maxOccurs="1" name="csprof1"/>
              <xs:element minOccurs="0" maxOccurs="1" name="dencpr1"/>
              <xs:element minOccurs="0" maxOccurs="1" name="nregpr1"/>
              <xs:element minOccurs="0" maxOccurs="1" name="tipohp1"/>
              <xs:element minOccurs="0" maxOccurs="1" name="regiao1"/>
              <xs:element minOccurs="0" maxOccurs="1" name="dtivig1"/>
              <xs:element minOccurs="0" maxOccurs="1" name="dtfvig1"/>
              <xs:element minOccurs="0" maxOccurs="1" name="acao2"/>
              <xs:element minOccurs="0" maxOccurs="1" name="tbprof2"/>
              <xs:element minOccurs="0" maxOccurs="1" name="csprof2"/>
              <xs:element minOccurs="0" maxOccurs="1" name="dencpr2"/>
              <xs:element minOccurs="0" maxOccurs="1" name="nregpr2"/>
              <xs:element minOccurs="0" maxOccurs="1" name="tipohp2"/>
              <xs:element minOccurs="0" maxOccurs="1" name="regiao2"/>
              <xs:element minOccurs="0" maxOccurs="1" name="dtivig2"/>
              <xs:element minOccurs="0" maxOccurs="1" name="dtfvig2"/>
              <xs:element minOccurs="0" maxOccurs="1" name="acao3"/>
              <xs:element minOccurs="0" maxOccurs="1" name="tbprof3"/>
              <xs:element minOccurs="0" maxOccurs="1" name="csprof3"/>
              <xs:element minOccurs="0" maxOccurs="1" name="dencpr3"/>
              <xs:element minOccurs="0" maxOccurs="1" name="nregpr3"/>
              <xs:element minOccurs="0" maxOccurs="1" name="tipohp3"/>
              <xs:element minOccurs="0" maxOccurs="1" name="regiao3"/>
              <xs:element minOccurs="0" maxOccurs="1" name="dtivig3"/>
              <xs:element minOccurs="0" maxOccurs="1" name="dtfvig3"/>
              <xs:element minOccurs="0" maxOccurs="1" name="acao4"/>
              <xs:element minOccurs="0" maxOccurs="1" name="tbprof4"/>
              <xs:element minOccurs="0" maxOccurs="1" name="csprof4"/>
              <xs:element minOccurs="0" maxOccurs="1" name="dencpr4"/>
              <xs:element minOccurs="0" maxOccurs="1" name="nregpr4"/>
              <xs:element minOccurs="0" maxOccurs="1" name="tipohp4"/>
              <xs:element minOccurs="0" maxOccurs="1" name="regiao4"/>
              <xs:element minOccurs="0" maxOccurs="1" name="dtivig4"/>
              <xs:element minOccurs="0" maxOccurs="1" name="dtfvig4"/>
              <xs:element minOccurs="0" maxOccurs="1" name="acao5"/>
              <xs:element minOccurs="0" maxOccurs="1" name="tbprof5"/>
              <xs:element minOccurs="0" maxOccurs="1" name="csprof5"/>
              <xs:element minOccurs="0" maxOccurs="1" name="dencpr5"/>
              <xs:element minOccurs="0" maxOccurs="1" name="nregpr5"/>
              <xs:element minOccurs="0" maxOccurs="1" name="tipohp5"/>
              <xs:element minOccurs="0" maxOccurs="1" name="regiao5"/>
              <xs:element minOccurs="0" maxOccurs="1" name="dtivig5"/>
              <xs:element minOccurs="0" maxOccurs="1" name="dtfvig5"/>
              <xs:element minOccurs="0" maxOccurs="1" name="acao6"/>
              <xs:element minOccurs="0" maxOccurs="1" name="tbprof6"/>
              <xs:element minOccurs="0" maxOccurs="1" name="csprof6"/>
              <xs:element minOccurs="0" maxOccurs="1" name="dencpr6"/>
              <xs:element minOccurs="0" maxOccurs="1" name="nregpr6"/>
              <xs:element minOccurs="0" maxOccurs="1" name="tipohp6"/>
              <xs:element minOccurs="0" maxOccurs="1" name="regiao6"/>
              <xs:element minOccurs="0" maxOccurs="1" name="dtivig6"/>
              <xs:element minOccurs="0" maxOccurs="1" name="dtfvig6"/>
              <xs:element minOccurs="0" maxOccurs="1" name="acao7"/>
              <xs:element minOccurs="0" maxOccurs="1" name="tbprof7"/>
              <xs:element minOccurs="0" maxOccurs="1" name="csprof7"/>
              <xs:element minOccurs="0" maxOccurs="1" name="dencpr7"/>
              <xs:element minOccurs="0" maxOccurs="1" name="nregpr7"/>
              <xs:element minOccurs="0" maxOccurs="1" name="tipohp7"/>
              <xs:element minOccurs="0" maxOccurs="1" name="regiao7"/>
              <xs:element minOccurs="0" maxOccurs="1" name="dtivig7"/>
              <xs:element minOccurs="0" maxOccurs="1" name="dtfvig7"/>
              <xs:element minOccurs="0" maxOccurs="1" name="acao8"/>
              <xs:element minOccurs="0" maxOccurs="1" name="tbprof8"/>
              <xs:element minOccurs="0" maxOccurs="1" name="csprof8"/>
              <xs:element minOccurs="0" maxOccurs="1" name="dencpr8"/>
              <xs:element minOccurs="0" maxOccurs="1" name="nregpr8"/>
              <xs:element minOccurs="0" maxOccurs="1" name="tipohp8"/>
              <xs:element minOccurs="0" maxOccurs="1" name="regiao8"/>
              <xs:element minOccurs="0" maxOccurs="1" name="dtivig8"/>
              <xs:element minOccurs="0" maxOccurs="1" name="dtfvig8"/>
              <xs:element minOccurs="0" maxOccurs="1" name="acao9"/>
              <xs:element minOccurs="0" maxOccurs="1" name="tbprof9"/>
              <xs:element minOccurs="0" maxOccurs="1" name="csprof9"/>
              <xs:element minOccurs="0" maxOccurs="1" name="dencpr9"/>
              <xs:element minOccurs="0" maxOccurs="1" name="nregpr9"/>
              <xs:element minOccurs="0" maxOccurs="1" name="tipohp9"/>
              <xs:element minOccurs="0" maxOccurs="1" name="regiao9"/>
              <xs:element minOccurs="0" maxOccurs="1" name="dtivig9"/>
              <xs:element minOccurs="0" maxOccurs="1" name="dtfvig9"/>
              <xs:element minOccurs="0" maxOccurs="1" name="acao10"/>
              <xs:element minOccurs="0" maxOccurs="1" name="tbprof10"/>
              <xs:element minOccurs="0" maxOccurs="1" name="csprof10"/>
              <xs:element minOccurs="0" maxOccurs="1" name="dencpr10"/>
              <xs:element minOccurs="0" maxOccurs="1" name="nregpr10"/>
              <xs:element minOccurs="0" maxOccurs="1" name="tipohp10"/>
              <xs:element minOccurs="0" maxOccurs="1" name="regiao10"/>
              <xs:element minOccurs="0" maxOccurs="1" name="dtivig10"/>
              <xs:element minOccurs="0" maxOccurs="1" name="dtfvig10"/>
              <xs:element minOccurs="0" maxOccurs="1" name="numeOC"/>
              <xs:element minOccurs="0" maxOccurs="1" name="OCemis"/>
              <xs:element minOccurs="0" maxOccurs="1" name="OCexpe"/>
              <xs:element minOccurs="0" maxOccurs="1" name="OCvali"/>
              <xs:element minOccurs="0" maxOccurs="1" name="dtivigimp1"/>
              <xs:element minOccurs="0" maxOccurs="1" name="dtfvigimp1"/>
              <xs:element minOccurs="0" maxOccurs="1" name="paisimp1"/>
              <xs:element minOccurs="0" maxOccurs="1" name="dtivigimp2"/>
              <xs:element minOccurs="0" maxOccurs="1" name="dtfvigimp2"/>
              <xs:element minOccurs="0" maxOccurs="1" name="paisimp2"/>
              <xs:element minOccurs="0" maxOccurs="1" name="dtivigimp3"/>
              <xs:element minOccurs="0" maxOccurs="1" name="dtfvigimp3"/>
              <xs:element minOccurs="0" maxOccurs="1" name="paisimp3"/>
              <xs:element minOccurs="0" maxOccurs="1" name="dtivigimp4"/>
              <xs:element minOccurs="0" maxOccurs="1" name="dtfvigimp4"/>
              <xs:element minOccurs="0" maxOccurs="1" name="paisimp4"/>
              <xs:element minOccurs="0" maxOccurs="1" name="dtivigimp5"/>
              <xs:element minOccurs="0" maxOccurs="1" name="dtfvigimp5"/>
              <xs:element minOccurs="0" maxOccurs="1" name="paisimp5"/>
              <xs:element minOccurs="0" maxOccurs="1" name="nrAtOb"/>
              <xs:element minOccurs="0" maxOccurs="1" name="iacpfi"/>
              <xs:element minOccurs="0" maxOccurs="1" name="iadpfi"/>
              <xs:element minOccurs="0" maxOccurs="1" name="indfil"/>
              <xs:element minOccurs="0" maxOccurs="1" name="dtcheg"/>
              <xs:element minOccurs="0" maxOccurs="1" name="dtsaid"/>
              <xs:element minOccurs="0" maxOccurs="1" name="incnir"/>
              <xs:element minOccurs="0" maxOccurs="1" name="condest"/>
              <xs:element minOccurs="0" maxOccurs="1" name="tempre"/>
              <xs:element minOccurs="0" maxOccurs="1" name="tpvist"/>
              <xs:element minOccurs="0" maxOccurs="1" name="clvist"/>
              <xs:element minOccurs="0" maxOccurs="1" name="dtides"/>
              <xs:element minOccurs="0" maxOccurs="1" name="dtvist"/>
              <xs:element minOccurs="0" maxOccurs="1" name="indnat"/>
              <xs:element minOccurs="0" maxOccurs="1" name="pornat"/>
              <xs:element minOccurs="0" maxOccurs="1" name="dtnatu"/>
              <xs:element minOccurs="0" maxOccurs="1" name="doides"/>
              <xs:element minOccurs="0" maxOccurs="1" name="RNEemi"/>
              <xs:element minOccurs="0" maxOccurs="1" name="rneexp"/>
              <xs:element minOccurs="0" maxOccurs="1" name="vldrne"/>
              <xs:element minOccurs="0" maxOccurs="1" name="casaBR"/>
              <xs:element minOccurs="0" maxOccurs="1" name="filhBR"/>
              <xs:element minOccurs="0" maxOccurs="1" name="pesopf"/>
              <xs:element minOccurs="0" maxOccurs="1" name="altura"/>
              <xs:element minOccurs="0" maxOccurs="1" name="gpsang"/>
              <xs:element minOccurs="0" maxOccurs="1" name="doador"/>
              <xs:element minOccurs="0" maxOccurs="1" name="dtultd"/>
              <xs:element minOccurs="0" maxOccurs="1" name="indale"/>
              <xs:element minOccurs="0" maxOccurs="1" name="indapc"/>
              <xs:element minOccurs="0" maxOccurs="1" name="indafc"/>
              <xs:element minOccurs="0" maxOccurs="1" name="indcir"/>
              <xs:element minOccurs="0" maxOccurs="1" name="exmper"/>
              <xs:element minOccurs="0" maxOccurs="1" name="inddfi"/>
              <xs:element minOccurs="0" maxOccurs="1" name="desdfi"/>
              <xs:element minOccurs="0" maxOccurs="1" name="tpdeff"/>
              <xs:element minOccurs="0" maxOccurs="1" name="indcot"/>
              <xs:element minOccurs="0" maxOccurs="1" name="indges"/>
              <xs:element minOccurs="0" maxOccurs="1" name="dtiges"/>
              <xs:element minOccurs="0" maxOccurs="1" name="estniv"/>
              <xs:element minOccurs="0" maxOccurs="1" name="nomesc"/>
              <xs:element minOccurs="0" maxOccurs="1" name="durces"/>
              <xs:element minOccurs="0" maxOccurs="1" name="unices"/>
              <xs:element minOccurs="0" maxOccurs="1" name="esdtpr"/>
              <xs:element minOccurs="0" maxOccurs="1" name="estvlr"/>
              <xs:element minOccurs="0" maxOccurs="1" name="seriep"/>
              <xs:element minOccurs="0" maxOccurs="1" name="nomcur"/>
              <xs:element minOccurs="0" maxOccurs="1" name="endesc"/>
              <xs:element minOccurs="0" maxOccurs="1" name="munesc"/>
              <xs:element minOccurs="0" maxOccurs="1" name="nocomp"/>
              <xs:element minOccurs="0" maxOccurs="1" name="cgcesc"/>
              <xs:element minOccurs="0" maxOccurs="1" name="noresp"/>
              <xs:element minOccurs="0" maxOccurs="1" name="cpfres"/>
              <xs:element minOccurs="0" maxOccurs="1" name="didres"/>
              <xs:element minOccurs="0" maxOccurs="1" name="ESarea"/>
              <xs:element minOccurs="0" maxOccurs="1" name="ESapol"/>
              <xs:element minOccurs="0" maxOccurs="1" name="ESnume"/>
              <xs:element minOccurs="0" maxOccurs="1" name="ESbair"/>
              <xs:element minOccurs="0" maxOccurs="1" name="ESCcep"/>
              <xs:element minOccurs="0" maxOccurs="1" name="cooCPF"/>
              <xs:element minOccurs="0" maxOccurs="1" name="cooNom"/>
              <xs:element minOccurs="0" maxOccurs="1" name="fornec"/>
              <xs:element minOccurs="0" maxOccurs="1" name="durcme"/>
              <xs:element minOccurs="0" maxOccurs="1" name="unicme"/>
              <xs:element minOccurs="0" maxOccurs="1" name="noesme"/>
              <xs:element minOccurs="0" maxOccurs="1" name="cgceme"/>
              <xs:element minOccurs="0" maxOccurs="1" name="nomcme"/>
              <xs:element minOccurs="0" maxOccurs="1" name="ceesme"/>
              <xs:element minOccurs="0" maxOccurs="1" name="tlesme"/>
              <xs:element minOccurs="0" maxOccurs="1" name="enesme"/>
              <xs:element minOccurs="0" maxOccurs="1" name="baesme"/>
              <xs:element minOccurs="0" maxOccurs="1" name="muesme"/>
              <xs:element minOccurs="0" maxOccurs="1" name="nuesme"/>
              <xs:element minOccurs="0" maxOccurs="1" name="cpesme"/>
              <xs:element minOccurs="0" maxOccurs="1" name="locdom"/>
              <xs:element minOccurs="0" maxOccurs="1" name="locseg"/>
              <xs:element minOccurs="0" maxOccurs="1" name="locter"/>
              <xs:element minOccurs="0" maxOccurs="1" name="locqua"/>
              <xs:element minOccurs="0" maxOccurs="1" name="locqui"/>
              <xs:element minOccurs="0" maxOccurs="1" name="locsex"/>
              <xs:element minOccurs="0" maxOccurs="1" name="locsab"/>
              <xs:element minOccurs="0" maxOccurs="1" name="inrsel"/>
              <xs:element minOccurs="0" maxOccurs="1" name="pretsl"/>
              <xs:element minOccurs="0" maxOccurs="1" name="foncod"/>
              <xs:element minOccurs="0" maxOccurs="1" name="turdis"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>